.logo{
    width: 120px;
}
.feature-icon {
    width: 30px;
    border-radius: 0.5rem;
    height: 2rem;
}
.text-bgprimary{
    background-color: #008EE1;
    color: white;
}
.formInline{
    gap: 15px;
}
.gap-1 {
    gap: .25rem !important;
}
.gap-2 {
    gap: .5rem !important;
}
.gap-3 {
    gap: 1rem !important;
}
.gap-4 {
    gap: 1.5rem !important;
}
.gap-5 {
    gap: 3rem !important;
}
.dropdownItemText{
    position: relative;
    bottom: 5px;
}

.button1{
    background-color: #008EE1 !important;
    color: white !important;
}

.customOffSetCard{
    position: fixed !important;
    bottom: 5px;
    z-index: 9999;
    width: 100%;
    left: 0;
}
.custom-dropdown.dropdown-toggle:after{
    position: relative;
    top: -3px;
}
.secondary-color{
    color:#a4a4a4;
}